/* Fonts */
@font-face {
      font-family: 'coffee&tea';
      font-weight: normal;
      src: url('../src/fonts/coffee&tea.ttf') format('truetype')
   }

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url('../src/images/paper.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Poppins', sans-serif;
   min-height: 100vh;
}

header {
   font-size: 2rem;
}

header, 
form {
   min-height: 20vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

h1 {
   font-size: 5rem;
}

.wanna {
   font-family: 'coffee&tea', sans-serif;
   letter-spacing: 1px;
   color: red;
   transform: rotateZ(-10deg);
   position: absolute;
   top: 4%;
   right: 52%;
}

.to-do {
   text-decoration: line-through red;
   margin-right: 1rem;
}

form input {
   font-family: 'coffee&tea', sans-serif;
   letter-spacing: 1px;
   padding: 0.5rem;
   font-size: 2rem;
   border: none;
   background: white;
   width: 25%
}

form button {
   padding: 0.4rem;
   font-size: 2rem;
   border: none;
   background: white;
   color: #000000;
   cursor: pointer;
   transition: all 0.3s ease;
}

.todo-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.todo-list {
   min-width: 30%;
   list-style: none;
}

.todo {
   font-family: 'coffee&tea', sans-serif;
   letter-spacing: 1px;
   margin-bottom: 1rem;
   background: white;
   font-size: 3rem;
   color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all 1s ease;
}

.todo-select {
   width: 11rem;
   padding: 0.9rem;
   font-size: 1rem
}

.todo li {
   flex: 1;
}

.delete-btn, 
.complete-btn {
   background: #ff4d00;
   color: black;
   border: 2px black;
   padding: 1rem;
   cursor: pointer;
   margin: 0.5rem;
}

.complete-btn {
   background: rgb(11, 212, 162);
}

.todo-item {
   padding: 0rem 0.5rem;
   text-align: center;
}

.fa-dizzy,
.fa-laugh,
.fa-sort-down {
   pointer-events: none;
   font-size: 2rem;
}

.completed {
   text-decoration: line-through;
   opacity: 0.5;
}

/*CUSTOM SELECTOR */

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   outline: 0;
   box-shadow: none;
   border: 0 !important;
   background-image: none;
}

.select {
   margin: 1rem;
   position: relative;
   overflow: hidden;
}

select {
   color: #000000;
   font-family: 'Poppins', sans-serif;
   cursor: pointer;
}

.select::after {
   content: "\25BC";
   position: absolute;
   top: 0;
   right: 0;
   padding: 1.1rem;
   color: #000000;
   cursor: pointer;
   pointer-events: none;
}
